body {
   font-family: 'Roboto';
   font-size: 20px;
   overflow-x: hidden; 
}
h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Roboto Slab';
    padding: 20px;
    width: 100%;
    background-color: rgb(72, 76, 85);
    color: white;
}
h2 {
    margin-top: -40px;
    font-size: 50px;
}
.body {
    margin-top: 15px;
}
.day {
    margin: 20px;
    background-color: rgb(231, 231, 238);;
    border-radius: 5px;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 18px;
}
.grn {
    background-color: rgb(175, 223, 175);
}
.hst {
    border-radius: 10px;
    margin: 5px;
}
.info {
    list-style: none;
    background-color: white;
    width: 60%;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
}
.jumbotron {
    background-color: rgb(231, 231, 238);   
}
.org {
    background-color: rgb(247, 206, 168);
}
.red {
    background-color: rgb(238, 125, 125);
}
.srch {
    background-color: rgb(231, 231, 238);;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 365px;
}
.td {
    margin-top: 20px;
}
.ylw {
    background-color: rgb(250, 249, 198);
}
#history {
    list-style: none;
    margin-top: 5px;
    margin-left: -30px;
    overflow: hidden;
    height: 272px;
}
#srchbtn {
    position: relative;
    top: 7px;
    height: 30px;
    width: 30px;
    background-image: url(images/srch.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    border-radius: 3px;
}
#srchbx {
    line-height: .80;
    border-radius: 4px;
    width: 85%;
} 
#tdIcon {
    margin-top: -60px;
}

